html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'VT323', monospace, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: #00ff00;
    z-index: 2;
}

#main-container {
    background-color: black;
    height: 80vh;
    width: 95vw;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: space-evenly;
}
#main-container.hide {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
}

h1 {
    height: 5vh;
    font-size: 85px;
}

button {
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    background-color: #00ff00;
    font-family: 'VT323', monospace, sans-serif;
    z-index: 10;
    border-radius: 30px;
    margin: 0 20px 20px;
}

button:hover {
    background-color: #ffff1a;
    color: black;
    cursor: pointer;
}

button.hide {
    display: none;
}

#canvas {
    background-color: rgba(255, 255, 255, 0);
    z-index: 6;
}

#canvas-two {
    z-index: 5;
}

#canvas-three {
    z-index: 4;
}

#canvas-four.levelOne {
    background-color: darkgray;
    z-index: 3;
    border-left: 12px solid white;
    border-right: 12px solid white;
}

#canvas-four.levelTwo {
    background-color: gray;
    z-index: 3;
    border-left: 12px solid white;
    border-right: 12px solid white;
}

#canvas-four.levelThree {
    background-color: black;
    z-index: 3;
    border: none
}


.canvas-container {
    display: none
}

.canvas-container.active {
    display: inline;
    position: relative;
    width: 70vw;
    height: 70vh;
}

.canvas-container canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

#scoreboard {
    display: none;
}

#scoreboard.active {
    display: inline-block;
    font-size: 60px;
    position: absolute;
    bottom: .7em;
    color: #00ff00;
}

/* #scoreboard span {
    margin: 0px 20px;
} */

#span-1 {
    color: #00ff00;
    margin-right: 80px;
}

#span-2 {
    color: #ff0000;
    margin-right: 80px;
}

#span-3 {
    color: #ffff1a;
}


#game-over-container,
#player-wins-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
    height: 100%;
    width: 100%;
    background: black;
}

#game-over-container.hide,
#player-wins-screen.hide {
    display: none;
}

#level-complete-img {
    height: 70%;
}


.levels-container {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    height: 80vh;
}

.rules {
    display: none;
}

button:hover~.rules {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
    width: 28vw;
    font-size: 2rem;
    height: 60vh;
}
button:hover ~ .rules-img {
    display: none;
}

.rules-img {
    width: 28vw;
    height: 60vh;
    align-self: center;
}

.rules-character {
    width: 1em;
}